extends layout

block content
    if isAuthenticated
        h1 Hello #{username}!
        a(href="/manage") Manage your account
        p
        a(href="/exit") Sign out

    else
        h1 Sign in and wait for the awesome!

        form(method="POST")
            label(for="username") Username:
                input#username(type="text", name="username")
            p
            label(for="password") Password:
                input#password(type="password", name="password")
            p
            input(type="submit",value="Sign in!")

        br
        a(href="/register") Have no account? Register one!

        if error
            p: b(style="color:red") Wrong username or password
