doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
    block scripts
      script(src="https://demo.yubico.com/js/u2f-api.js")
  body
    block content
