extends layout
append scripts
    script(src="/js/manage.js")

block content
    script.
        var request = !{u2freq}
    h1 Manage two-factor authentication

    form(method="POST", action="finishRegistration" id="form" onsubmit="return false;")
        input(input="hidden", name="username", value="${username}")
        input(input="hidden", name="tokenResponse", id="tokenResponse")

    unless error
        h3 Hello #{username}!
        a(href="/") Back to the front page.
        p
        a(href="/exit") Sign out

    if error
        p: b(style="color:red") You are not signed in!
        a(href="/") Click here to do so.